.index-page-banner {
  height: 100vh;
  min-height: 100%;
  width: 100%;
  background-image: url(media/images/img1.jpg);
  position: relative;
  background-size: cover;
  background-position: center center;
}
.index-page-banner:after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.68);
  top: 0;
  left: 0;
}

.index-content .underline1,
.demo-container .underline1 {
  margin: auto;
}
.index-content .underline2,
.demo-container .underline2 {
  margin: 0 auto;
  margin-top: -10px;
}

.waviy span {
  font-weight: 600;
  font-size: 50px;
  position: relative;
  display: inline-block;
  text-transform: uppercase;
  animation: waviy 2s infinite;
  animation-delay: calc(0.1s * var(--i));
}
@keyframes waviy {
  0%,
  40%,
  100% {
    transform: translateY(0);
  }
  20% {
    transform: translateY(-20px);
  }
}
.index-content p.article {
  font-size: 25px;
  font-weight: 500;
}
/* Demo */
#demo {
  background: #000;
}
.demo-image {
  margin-bottom: 70px;
}
.title {
  padding: 15px 10px;
  transition: 0.8s;
  -webkit-transition: 0.8s;
  -moz-transition: 0.8s;
  -ms-transition: 0.8s;
  -o-transition: 0.8s;
  background-color: white;
}
/* feature */
.feature-item {
  box-shadow: 0px 2px 12px 2px rgb(0 0 0 / 25%);
  margin-bottom: 30px;
}
.card-body {
  padding: 2rem 1rem;
}
.feature-item .icon {
  font-size: 40px;
  color: var(--red);
  line-height: 40px;
  margin-bottom: 15px;
}
