body {
  font-family: "Rubik", sans-serif;
}
a {
  text-decoration: none;
}
section {
  /* margin-bottom: 100px; */
  margin-top: 0px;
}
.section-py {
  padding: 100px 0;
}
.section-pt {
  padding-top: 100px;
}
.section-pb {
  padding-bottom: 100px;
}
:root {
  --white: #fff;
  --black: #333;
  --red: #f31515;
  --gray: #777;
  --transparent: transparent;

  --transition: all 0.6s ease-in-out;
}

/* common class color background */

.black-bg {
  background-color: var(--black) !important;
}
/* common class color text */

.red-txt {
  color: var(--red) !important;
}
.black-txt {
  color: var(--black) !important;
}

/* common class */
.b-1px {
  border: 1px solid #f0f0f0;
}
.b-shadow {
  box-shadow: 0px 0px 2px 0px #f0f0f0;
}
/* Common Button */
/* about contact button 1 */
.about-contact1 {
  color: var(--white);
  background-color: orangered;
  /*border: 2px solid orangered;*/
  padding: 11px 19px;
  font-size: 16px;
  font-weight: 600;
  display: inline-block;
  margin-right: 20px;
  position: relative;
  z-index: 111;
  text-decoration: none;
  transition: var(--transition);
}
.about-contact1::after {
  position: absolute;
  content: "";
  top: 0px;
  left: 0px;
  background-color: white;
  width: 0%;
  height: 100%;
  z-index: 1;
  transition: 0.7s;
  -webkit-transition: 0.7s;
  -moz-transition: 0.7s;
  -ms-transition: 0.7s;
  -o-transition: 0.7s;
}
.about-contact1:hover:after {
  width: 100%;
  z-index: -1;
}
.about-contact1:hover {
  color: var(--red);
  background-color: transparent;
  z-index: 1;
  /*border: 2px solid var(--red);*/
  font-family: "Rubik";
}
/* about contact button 2 */
.about-contact2 {
  color: orangered;
  /*border: 2px solid orangered;*/
  padding: 11px 19px;
  font-size: 16px;
  font-weight: 600;
  position: relative;
  z-index: 111;
  display: inline-block;
  text-decoration: none;
  transition: var(--transition);
  margin-bottom: 10px;
  font-family: "Rubik" , sans-serif;
}
.about-contact2::after {
  position: absolute;
  content: "";
  top: 0px;
  left: 0px;
  background-color: orangered;
  width: 0%;
  height: 100%;
  z-index: 1;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}
.about-contact2:hover:after {
  width: 100%;
  z-index: -1;
}
.about-contact2:hover {
  color: white;
}

/* Common Button */

/* common text css */
h2.section-heading {
  font-size: 40px;
  line-height: 40px;
  color: var(--black);
  margin-bottom: 20px;
  font-weight: 700;
}
p.article {
  font-size: 17px;
  color: var(--black);
  margin-top: 30px;
  margin-bottom: 30px;
}
