/* particles-js */
#particles-js {
  width: 100%;
  height: 100%;
  background-color: transparent;
  position: absolute;
  z-index: 111;
}

.home-text h2.section-heading span.cd-words-wrapper {
  color: orangered;
  font-size: 50px;
  line-height: 56px;
  font-weight: 600;
}
